/*
.result-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
}

.results {
  width: 80vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subject-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin-bottom: 0vh;
}

*/

.choice-title {
  margin: 3vh auto;
  font-size: 1.6em;
}