.textAndBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black {
  color: black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.whereInPictureImg {
  width: 50vw;
  max-height: 80vh;
}