.examination-blurb {
  width: 90vmin;
  max-width: 80vw;
  font-size: 20px;
  border-radius: 2vmin;
  color: #282c34;
  background-color: #059dc7;
  margin: 20px;
  padding: 10px;
  position: relative;
}

.paused-blurb {
  background-color: #d8db29;
}

.has-image {
  text-align: center;
  padding: 2px;
  position: relative;
  display: block;
  height: 25vh;
}

.blurb-headline .blurb-title {
  text-align: center;
  min-width: 200px;
  padding: 0;
}

.blurb-title h1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.img-container {
  position: absolute;
  padding: 2px;
}

@media only screen and (max-width: 600px) {
  .has-image {
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .img-container {
    position: unset;
  }
}

.examination-blurb .examination-startbutton {
  border-radius: 5px;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

.examination-blurb .examination-startbutton:hover {
  border-radius: 5px;
  font-size: 24px;
  margin: 10px;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
}

.delete-button:hover {
  cursor: pointer;
}