.frontpage-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin-top: 3vh;
}

.btn-header {
  font-size: calc(10px + 4vmin);
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.btn-body {
  font-size: calc(5px + 2vmin);
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.buttonContainer {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}