.username {
  color: white;
  font-size: 3vh;
}

.subjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  border-radius: 2vh;
  padding: 2vh;
}

.overview-header {
  font-size: calc(10px + 5vmin);
  margin-bottom: 5vh;
}