.username {
  color: white;
  font-size: 3vh;
}

.subjectContainer {
  position: absolute;
  top: 5vh;
  width: 100%;
  height: 60vh;
  padding-top: 12vh;
  overflow: scroll;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-items: center;
  
  border-radius: 3vh;
  
}

.overview-header {
  font-size: calc(10px + 5vmin);
  margin-bottom: 5vh;
}

.header {
  margin-bottom: 5vh;
  font-size: 7vh;
}

.close {
  height: 11vh;
  width: 11vh;
  font-size: 10vh;
  text-align: center;
  cursor: pointer;
}

.choice-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.choice-title {
  margin-top: 3vh;
  font-size: 7vh;
}

.choice-body {
  margin-bottom: 4vh;
}

.choice-footer {
  margin: 2vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

.close-btn {
  background: #78f89f;
}

.exit-btn, .delete-btn {
  background: #f88b78;
}

.pause-btn {
  background: #f6f878;
}

.close-btn:hover {
  background: #57b322;
}

.exit-btn:hover {
  background: #fc5537;
}

.pause-btn:hover {
  background: #d8db29;
}

.headerColor {
  background-color: #E26D5A;
}

.completedContainer {
  position: relative;
 
  background-color: #80D5E0;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  width: 80vw;
  height: 30vh;
  padding: 16px;
  margin: 8vh auto;
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
}


.completedContainer p {
  
  transform: translate(0, -50%);
  font-size: 4vh;
}
