* {
  box-sizing: border-box;
}

.navbar,
.bottom-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 10vh;
  background-color: #e2e2e2;
  color: #d2d7df;
}

.navbar {
  justify-content: flex-start;
}

.bottom-bar {
  justify-content: center;
}

.button-container {
  display: flex;
  align-content: center;
  min-width: 6vw;
  margin-left: 2vmin;
}

.subject-name-container {
  margin-left: 3vmin;
  opacity: 50%;
}
