* {
  box-sizing: border-box;
}

.navbar,
.bottom-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 10vh;
  background-color: #e2e2e2;
  color: #d2d7df;
}

.navbar {
  justify-content: flex-start;
}

.bottom-bar {
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  align-content: center;
  min-width: 6vw;
  margin-left: 2vmin;
}

.subject-name-container {
  margin-left: 3vmin;
  opacity: 50%;
}

.bottom-bar-dot {
  height: 20px;
  width: 20px;
  border: 5px solid black;
  border-radius: 10px;
}

.bottom-bar-line {
  border: 1px solid black;
  width: 10px;
  height: 0;
}

.bottom-bar-line:last-of-type {
  display: none;
}
