.btn {
  /*width: 30vmin;
  height: 15vmin;
  */
  
  color: #282c34;
  margin: 2vmin;
  text-align: center;
  border: 0;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

/*
.new {
  background-color: #059dc7;
}

.new:hover {
  background-color: #61dafb;
}

.new:active {
  background-color: #03627c;
}
*/

.next {
  background-color: #FFA321;
  min-width: 20vw;
  
  font-size: 5vmin;
  padding: 18px 32px;
  border: 0;
  border-radius: 8px;
  
  
}

.next:hover {
  background-color: #f2c14e;
}

.next:active {
  background-color: #fbb02d;
}

.start {
  background-color: #659157;
  
}

.start:hover {
  background-color: #a1c084;
}

.start:active {
  background-color: #257c03;
}

.nav-btn {
  background-color: transparent;
  /*margin: auto 0;  */
  border: none;
  
  color: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.nav-btn:hover {
  filter: invert(55%) sepia(55%) saturate(4482%) hue-rotate(161deg) brightness(94%) contrast(105%);
  
}
.nav-btn:active {
  background-color: transparent;
}

.nav-img {
  
  /*
  height: 3vw;
  width: 3vw;
  display: block;
  
  position: relative;
  */
  margin: auto;
  height: inherit;
  width: inherit;

}

.pause:active {
  background-color: transparent;
}

.subject-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 2vh;
  width: 80%;
  height: 20vmin;
  margin: 0.5vh auto;
  font-size: 3vmin;
  
  
  font-weight: normal;
}

.subject-btn:disabled {
  color: #8c8c8c;
  background-color: #d9d9d9;
}

.subject-btn:hover {
  background-color: #ccccff
}
