.btn {
  width: 30vmin;
  height: 15vmin;
  font-size: calc(10px + 4vmin);
  border-radius: 2vmin;
  color: #282c34;
  margin: 2vmin;
}

.new {
  background-color: #059dc7;
}

.new:hover {
  background-color: #61dafb;
}

.new:active {
  background-color: #03627c;
}

.paused {
  background-color: #f3de2c;
}

.paused:hover {
  background-color: #f2c14e;
}

.paused:active {
  background-color: #fbb02d;
}

.start {
  background-color: #659157;
}

.start:hover {
  background-color: #a1c084;
}

.start:active {
  background-color: #257c03;
}

.exit {
  background-color: transparent;
  width: 10vh;
  height: 10vh;
  font-size: 7vh;
  margin-right: 5vh;
  color: #fc5537;
}

.exit:hover {
  background-color: rgb(41, 41, 41);
  color: #f88b78;
}

.exit:active {
  background-color: transparent;
}