.btn {
  width: 30vmin;
  height: 15vmin;
  font-size: calc(10px + 4vmin);
  border-radius: 2vmin;
  color: #282c34;
  margin: 2vmin;
  text-align: center;
  cursor: pointer;
}

.new {
  background-color: #059dc7;
}

.new:hover {
  background-color: #61dafb;
}

.new:active {
  background-color: #03627c;
}

.next {
  background-color: #f3de2c;
}

.next:hover {
  background-color: #f2c14e;
}

.next:active {
  background-color: #fbb02d;
}

.start {
  background-color: #750c67;
}

.start:hover {
  background-color: #0717f6;
}

.start:active {
  background-color: #257c03;
}

.nav-btn {
  background-color: transparent;
  width: 12vh;
  height: 12vh;
  margin: 1vw;
  margin-right: 3vw;
  border: none;
}

.nav-btn:hover {
  background-color: #516180;
}

.nav-btn:active {
  background-color: transparent;
}

.nav-img {
  height: 80%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pause:active {
  background-color: transparent;
}