.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

.modal-content {
  background-color: white;
  border-radius: 2vh;
}

.modal-btn {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  line-height: 1;
  cursor: pointer;
}

.close-btn {
  background: #78f89f;
}

.exit-btn, .delete-btn {
  background: #f88b78;
}

.pause-btn {
  background: #f6f878;
}

.close-btn:hover {
  background: #57b322;
}

.exit-btn:hover {
  background: #fc5537;
}

.pause-btn:hover {
  background: #d8db29;
}

.close {
  height: 7vh;
  width: 7vh;
  font-size: 5vh;
  text-align: center;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
  margin: 2vh;
}

.modal-title {
  margin: 1vh;
}

.modal-body {
  margin-left: 2vh;
}

.modal-footer {
  margin: 2vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-evenly;
}