* {
  box-sizing: border-box;
}
.navBar {
  height: 10vh;
  background-color: #E2E2E2;
  /*border-bottom: 1px solid red; */
  
}
.navBar {
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  /*padding: 3vh 0 auto 2vw;*/

  justify-content: flex-end;
  text-align: center;
  align-items: center;
  min-height: 10vh;

  max-height: 10vh;
  background-color: E2E2E2;

  background-color: black;
  color: #d2d7df;
  border-bottom: 0.4vh solid #d2d7df;

}

.navbar-modals {
  /*position: relative;
  margin: auto;*/
  color: black;
  text-align: left;
    
}
.button-container {
  display: flex;
  align-content: center;
  min-width: 6vw;
  margin-left: 2vmin;
 
}

.subject-name-container {
  /*
  display: inline-block;
  margin: auto 5vw;
  */
  margin-left: 3vmin;
  opacity: 50%;
  
}


