* {
  box-sizing: border-box;
}
.navBar {
  height: 10vh;
  background-color: #E2E2E2;
  border-bottom: 1px solid red;
  
}
.navBar .nav-content {
  margin: 3vh 0 auto 2vw;
}

.navbar-modals {
  position: relative;
  margin: auto;
  color: black;
  text-align: left;
  float: left;  
}

.subject-name-container {
  display: inline-block;
  margin: auto 5vw;
}

.subject-name {
  color: black;
  font-size: 3vh;
  margin: auto 0;
}
