.nav-bar {
  display: flex;
  justify-content: right;
  text-align: center;
  align-items: center;
  min-height: 10vh;
  background-color: black;
  color: #d2d7df;
  border-bottom: 0.4vh solid #d2d7df;
}

.navbar-modals {
  color: black;
  text-align: left;
}

#navbar-logo {
  margin-left: 5vw;
  max-height: 15vh;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}