.progress-bar {
  margin: 1rem 0;
  border: 1px solid white;
  border-radius: 50px;
  width: 400px;
  height: 30px;
}

.filler {
  border-radius: inherit;
  height: 100%;
  background: #1da598;
  transition: width 0.2s ease-in;
}