.Main {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Index-button {
  width: 50vmin;
  height: 20vmin;
  background-color: #61dafb;
  font-size: calc(10px + 4vmin);
  border-radius: 2vmin;
  color: #282c34;
}

.Index-button:hover {
  background-color: #059dc7;
}

.Index-button:active {
  background-color: #03627c;
}