body {
  background-color: #E2E2E2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
  position: relative;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-height: 75vh;
  max-width: 95vw;
}


.h1 {
  margin-bottom: 1vh;
  font-size: 5vh;
}

.h2 {
  font-size: 3vh;
}

.white {
  color: white;
}

.black {
  color: black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.transparent {
  background-color: transparent;
}

.light-font {
  font-weight: light;
}

.normal-font {
  font-weight: normal;
}

.bold-font {
  font-weight: bold;
}
