body {
  background-color: #282c34;
}

.questionContainer {
  min-height: 79vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  max-height: 25vh;
}

img {
  max-height: 25vh;
}

.h1 {
  color: white;
  margin-bottom: 1vh;
  font-size: 5vh;
}

.inputField {
  margin-bottom: 3vh;
  font-size: 5vh;
  width: 50vmin;
  border-radius: 3vmin;
  text-align: center;
}